/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Custom CSS reset
   ========================================================================== */

/*
 * Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --color-green: #6bc0a780;
  --color-grey: #b3b2c080;
  --color-yellow: #fdeaaf80;
  --color-orange: #f9b56b80;
  --color-red: #d3584780;

  --color-link-dark: #6c2d24;
  --color-link-red: #d35847;

  --size-logo: 12rem;
}

/*
 * https://baseline.is/tools/type-scale-generator/ 1.250 - Major Third
 */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
}

h2 {
  font-size: 1.56em;
  margin-bottom: 0.85rem;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 1rem;
  /* margin-bottom: 1.5rem; */
}

.text-caption {
  font-size: 0.8em;
}

small {
  font-size: 0.64rem;
}

a {
  color: var(--color-link-red);
}

a:visited {
  color: var(--color-link-red);
}

a:hover {
  color: var(--color-link-dark);
}

body {
  font-family: sans-serif;
}

header .logo {
  margin: 0 auto;
}

.logo {
  display: block;
  max-width: var(--size-logo);
}

footer h3 {
  font-size: 1em;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer p {
  font-size: 0.875rem;
}

footer ul li {
  font-size: 0.875rem;
}

.cta {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 6rem;
  bottom: 1rem;
  left: calc(50% - 3rem);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Position
 */

.relative {
  position: relative;
}

/*
 * Overflow
 */

.overflow-hidden {
  overflow: hidden;
}

/*
 * Image
 */

.img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

/*
 * Filter
 */

.filter-image {
  filter: grayscale(50%) sepia(100%) opacity(0.75);
}

/*
 * Max and min widths/heights
 */

.max-w {
  max-width: 60rem; /* 960px */
}

.min-h-15 {
  min-height: 15rem; /* 240px */
}

/*
 * Margins
 */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-05 {
  margin: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem; /* 16px */
}

.mb-8 {
  margin-bottom: 8rem; /* 128px */
}

/*
 * Paddings
 */

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

/*
 * Flex
 */

.flex {
  display: flex;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.flex-box {
  flex: 1 1 20rem; /* 320px */
  align-content: center;
  border-radius: 1.5rem;
}

.justify-between {
  justify-content: space-between;
}

/*
 * Grid
 */

.grid {
  display: grid;
}

.grid-repeat-6-col {
  grid-template-columns: repeat(6, 1fr);
}

.gap-1 {
  gap: 1rem;
}

.span {
  display: grid;
  min-height: 25rem; /* 400px */
  grid-column: 1 / span 6;
}

/*
 * Background colors
 */

.bg-1 {
  background-color: var(--color-green);
}

.bg-2 {
  background-color: var(--color-grey);
}

.bg-3 {
  background-color: var(--color-yellow);
}

.bg-4 {
  background-color: var(--color-orange);
}

.bg-5 {
  background-color: var(--color-red);
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* 560px */
  /* Style adjustments for viewports that meet the condition */
  h2 {
    font-size: 1.95em;
  }

  h3 {
    font-size: 1.56em;
  }

  .sm-mt-2 {
    margin-top: 2rem; /* 32px */
  }

  .sm-flex-dir-unset {
    flex-direction: unset;
  }

  .sm-grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sm-span-4-start-2 {
    grid-column: 2 / span 4;
  }
}

@media only screen and (min-width: 64em) {
  /* 1024px */
  /* Style adjustments for viewports that meet the condition */
  h1 {
    font-size: 3.05em;
  }

  h2 {
    font-size: 2.44em;
  }

  .md-p-3 {
    padding: 3rem;
  }

  .md-px-3 {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
