/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Custom CSS reset
   ========================================================================== */

/*
 * Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --color-pink: #f8c8df;
  --color-green: #6bc0a7;
  --color-yellow: #fbd85f;
  --color-blue: #8dcfd6;
}

body {
  font-family: sans-serif;
}

header {
  background-color: white;
}

header .logo {
  margin: 0 auto;
}

/*
 * https://baseline.is/tools/type-scale-generator/ 1.250 - Major Third
 */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
}

h1 {
  font-size: 3.05em;
}

h2 {
  font-size: 2.44em;
}

h3 {
  font-size: 1.95em;
}

h4 {
  font-size: 1.56em;
}

h5 {
  font-size: 1.25em;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.text-caption {
  font-size: 0.8em;
}

small {
  font-size: 0.64rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Max and min widths
 */

.max-w {
  max-width: 60rem;
}

/*
 * Margins
 */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/*
 * Paddings
 */

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
 * Flex
 */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

/*
 * Grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.span {
  display: grid;
  place-items: center;
  text-align: center;

  /* @TODO: delete */
  height: 300px;
  border: 5px dotted beige;
}

.span-1 {
  grid-column: 3 / span 1;
}

.span-2 {
  grid-column: 2 / span 2;
}

.span-3 {
  grid-column: 1 / span 3;
}

.span-6 {
  grid-column: 1 / span 6;
}

/*
 * Background colors
 */

.bg-1 {
  background-color: var(--color-pink);
}

.bg-2 {
  background-color: var(--color-green);
}

.bg-3 {
  background-color: var(--color-yellow);
}

.bg-4 {
  background-color: var(--color-blue);
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  .sm-flex-column {
    flex-direction: column;
  }

  .sm-flex-row {
    flex-direction: row;
  }

  .sm-flex {
    flex: 18rem;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
